package components

templ SuccessMessage() {
    <p class="text-green-500 text-center w-full">Successfully registered. Click <a href="/auth/login" class="underline underline-offset-2">here</a> to login</p>
}